body{
  font-family: "outift";
  font-size: 1.5rem;
  font-weight: 600;
}
h1, h2{
  font-family: "young serif";
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  color:  hsl(30, 10%, 34%);
}
li{
 color:  hsl(30, 10%, 34%);
}
li::marker{
  color: hsl(14, 45%, 36%);
}

h1{
  font-size: 4rem;
  padding: 0px;
  margin: 30px 0px ;
}
.negrito{
  font-weight: 700;
  color:hsl(24, 5%, 18%) ;
}
h2{
  color:   hsl(14, 45%, 36%);
}

.fundo{
  padding: 100px;
  background: hsl(330, 100%, 98%);
 
}
.branco{
  background:hsl(0, 0%, 100%) ;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  position: relative;
 
}

.branco img{
  width: 100%;
  border-radius: 20px;
}

.preparo{
  background: hsl(330, 100%, 98%) ;
  border-radius: 5px;
 padding: 3px;
 padding-left: 20px;
}
.preparo h3, .preparo li::marker{
  color:  hsl(332, 51%, 32%);
}
.preparacao{
  padding: 0px;
}

.instrucoes{
  border-top:1px solid hsl(17, 4%, 34%) ;
  border-bottom: 1px solid hsl(17, 5%, 30%);
  padding-top: 20px;
}

table {
  width:  100%;
  border-collapse: collapse;
}
th, td{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(102, 102, 102);
}
tr:last-child td {
  border-bottom: none; 
}
th{
  width: 100%;
  background-color: #f2f2f2;
}


tr:nth-child(odd){
background-color: #f2f2f2;
}

.corNuticao{
  color: hsl(14, 45%, 36%);
}


@media(max-width:600px){
  .fundo{
    padding: 0;
  }
  .branco{
    border-radius: 0px;
  }
}
@media(max-width:800px){
h1{
  font-size: 2rem;
}
}